/* common */
html {
	/* font-size: 17px; */
	font-family: "JetBrains Mono", monospace;
}

h2 {
	font-size: 2rem;
	text-align: center;
	margin: 1rem auto;
	font-weight: bold;
}

.dark-mode {
	background-color: #24272d;
	color: #a1a9b7;
	transition: background-color 1s ease;
}

.light-mode {
	background-color: #fff;
	color: #24272d;
	transition: background-color 1s ease;
}

.light-mode .country-region-guessor {
	border-color: #24272d;
}

.light-mode .result {
	border-color: #24272d;
}

.flex-container {
	display: flex;
}

.nest-list {
	list-style-type: circle;
	margin-left: 2rem;
}

a {
	cursor: pointer;
}

a:hover {
	color: #fff;
}

.gif {
	width: 90%;
	margin: 0.5rem auto;
}

/* header */
header {
	padding: 0 1rem;
	background-color: lightslategrey;
	color: lightgrey;
}

.header.flex-container {
	justify-content: space-between;
}

header h1 {
	font-size: 2.5rem;
	margin: 0.5rem 0;
}

span {
	display: block;
}

header button {
	display: inline-block;
}

.toggle-menu button {
	padding-left: 1rem;
}

nav {
	display: none;
}

nav.show {
	display: block;
}

nav .flex-container {
	justify-content: space-between;
}

nav li {
	margin: 0.8rem 0;
}

/* main */
main {
	margin-top: 1rem;
}

section {
	width: 90%;
	margin: 0 auto;
}

section a {
	color: rgb(82, 165, 232);
	text-decoration: underline;
}

/* about */
.paragraph {
	display: inline;
	color: rgb(140, 188, 115);
}

.profile {
	display: none;
}

.name {
	color: rgb(240, 144, 96);
}

.goal {
	color: rgb(222, 97, 107);
}

.about p {
	line-height: 1.4rem;
}

.about p + p {
	margin-left: 1rem;
}

img {
	display: block;
	width: 3rem;
}

/* Projects */
ul {
	list-style-position: inside;
}

.project-title {
	display: inline;
	font-size: 1.2rem;
	padding-bottom: 1rem;
}

.projects li {
	list-style-type: disc;
	line-height: 1.4rem;
}

.project {
	margin-top: 1rem;
}

.nest-list li {
	list-style: circle;
	margin-top: 0.5rem;
}

/* Skills */
.skill-icons {
	justify-content: space-around;
	margin: 0 auto;
}

.skill {
	flex: 1 1 0;
}

.skill p {
	text-align: center;
}

.skill img {
	margin: 0 auto;
}

/* country-region-guessor */
.country-region-guessor {
	margin-top: 1rem;
	border: #fff 0.1rem solid;
}

.country-region-guessor p {
	margin: 0.5rem 1rem;
}

.country-region-guessor .result {
	margin: 0.5rem 1rem;
}

.crg {
	font-size: 1.2rem;
}

.result {
	text-align: center;
	border: #fff 0.1rem solid;
	height: 2rem;
	justify-content: center;
	align-items: center;
}

.result p {
	vertical-align: middle;
}

.result span {
	display: inline;
}

.select {
	justify-content: center;
}

.select button {
	width: 30%;
	height: 2rem;
	border: #fff 0.1rem solid;
	display: block;
	margin: 0 1rem;
	text-align: center;
}

#correct-count {
	color: rgb(140, 188, 115);
}
#wrong-count {
	color: rgb(222, 97, 107);
}

#correct {
	color: rgb(140, 188, 115);
	border: rgb(140, 188, 115) 0.1rem solid;
}

#wrong {
	color: rgb(222, 97, 107);
	border: rgb(222, 97, 107) 0.1rem solid;
}

#correct:hover {
	background-color: rgb(140, 188, 115);
	color: #24272d;
}

#wrong:hover {
	background-color: rgb(222, 97, 107);
	color: #a1a9b7;
}

.result .none {
	display: none;
}

.select .none {
	display: none;
}

.question {
	border: #fff 0.1rem solid;
}

#question-sentence {
	font-weight: bold;
}

#judge {
	text-align: center;
	color: rgb(222, 97, 107);
}

.country-region-guessor div {
	margin: 1rem auto;
}

/* footer */
footer p {
	text-align: center;
	margin: 1rem;
}

/* Contact */
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: auto;
  max-width: 500px;
}

label {
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: .6rem;
  border: .1rem solid #ccc;
  border-radius: .2rem;
  box-sizing: border-box;
  margin-bottom: 1rem;
}

input[type="button"] {
  background-color: rgb(82, 165, 232);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
  
input[type="button"]:hover {
  background-color: #a1a9b7;
	color: #24272d;
}

.contacts h2 {
	margin-top: 3rem;
}

/* Styles for medium devices like desktops */
@media (min-width: 768px) {
 .profile {
	display: block;
	width: 10rem;
 }

 main {
	max-width: 50rem;
	margin: 0 auto;
 }

 .desktop-project {
	display: flex;
 }

 .project {
	width: 50%;
 }
 .skill-icons {

 }
}