/* common */
html {
	/* font-size: 17px; */
	font-family: "JetBrains Mono", monospace;
}

h2 {
	font-size: 2rem;
	text-align: center;
	margin: 1rem auto;
	font-weight: bold;
}

.dark-mode {
	background-color: #24272d;
	color: #a1a9b7;
	transition: background-color 1s ease;
}

.light-mode {
	background-color: #fff;
	color: black;
	transition: background-color 1s ease;
}

.flex-container {
	display: flex;
}

.nest-list {
	list-style-type: circle;
	margin-left: 2rem;
}

a {
	cursor: pointer;
}

a:hover {
	color: #fff;
}

.gif {
	width: 90%;
	margin: 0.5rem auto;
}

/* header */
header {
	padding: 0 1rem;
	background-color: lightslategrey;
	color: lightgrey;
}

.header.flex-container {
	justify-content: space-between;
}

header h1 {
	font-size: 2.5rem;
	margin: 0.5rem 0;
}

span {
	display: block;
}

header button {
	display: inline-block;
}

.toggle-menu button {
	padding-left: 1rem;
}

nav {
	display: none;
}

nav.show {
	display: block;
}

nav .flex-container {
	justify-content: space-around;
}

nav li {
	margin: 0.8rem 0;
}

nav li + li::before {
	content: "|";
	color: #fff;
}

/* main */
main {
	margin-top: 1rem;
}

section {
	width: 90%;
	margin: 0 auto;
}

section a {
	color: rgb(82, 165, 232);
	text-decoration: underline;
}

/* about */
.paragraph {
	display: inline;
	color: rgb(140, 188, 115);
}

.name {
	color: rgb(240, 144, 96);
}

.goal {
	color: rgb(222, 97, 107);
}

.about p {
	line-height: 1.4rem;
}

.about p + p {
	margin-left: 1rem;
}

img {
	display: block;
	width: 3rem;
}

/* Projects */
ul {
	list-style-position: inside;
}

.project-title {
	display: inline;
	font-size: 1.2rem;
	padding-bottom: 1rem;
}

.projects li {
	list-style-type: disc;
	line-height: 1.4rem;
}

.project {
	margin-top: 1rem;
}

.nest-list li {
	list-style: circle;
	margin-top: 0.5rem;
}

/* Skills */
.skill-icons {
	justify-content: space-around;
	margin: 0 auto;
}

.skill {
	flex: 1 1 0;
}

.skill p {
	text-align: center;
}

.skill img {
	margin: 0 auto;
}
